<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="currentSeminar">
<div class="col-md-12">
    <section class="content-header">
        <ol class="breadcrumb">
            <li class="active"><a th:href="@{/}" href="/"><i class="fa fa-dashboard"></i> 홈</a></li>
        </ol>
    </section>
    <br/><br/>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">당월 세미나</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item" th:text="${currentSeminar.title}">
                            Seminar Title <span class="badge">Seminar State</span>
                        </a>
                    </div>
                    <form onsubmit="return false">
                        <div class="table">
                            <div class="table-row-group">
                                <div class="table-row">
                                    <div class="table-cell" style="width: 60px; vertical-align: top;">
                                        <button type="submit" class="btn btn-default pull-right"
                                                data-toggle="modal" data-target="#modify-seminar">세미나 수정
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div th:replace="fragments/modal/modifySeminar :: modifySeminar"></div>
                </div>
                <div class="col-sm-8">
                    <h3 th:text="${currentSeminar.title}">Current Semiar Title</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Task</th>
                            <th>Worker</th>
                            <th>Progress</th>
                            <th>State</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task: ${currentSeminar.tasks}">
                            <td class="center-y">
                                <a th:href="${task.getRequestUrl()}" href="#">
                                    <span class="center-y" th:text="${task.getTaskName()}">Task Name</span>
                                </a>
                            </td>
                            <td class="center-y">
                                <a href="#"><span class="center-y">Task Worker</span></a>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuemax="100" aria-valuemin="0"
                                         aria-valuenow="{{task.progress}}" style="width: 0%; color: #0c0c0c">
                                        <span th:text="${task.progress} + '%'">Task Progress%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-success full-width">Completed
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form role="form">
                        <div class="form-group">
                            <label>Add Task</label>
                            <input type="text" class="form-control" placeholder="New task"/>
                        </div>
                    </form>
                </div>
            </div>
            <!--.box-body-->
        </div>
        <!--.box-->
    </section>
    <!--.content-->
</div>
<!--.col-md-12-->
</body>
</html>