/**
 * Created by donghoon on 2016. 5. 25..
 */
.margin-top-20 {
    margin-top: 20px;
}

.full-width {
    width: 100%;
}

.center-y {
    vertical-align: middle !important;
}

.table {
    display: table;
}

.table-row-group {
    display: table-row-group;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.logo {
    padding: 5px;
    margin-right: 15px;
    width: 90px;
    height: 50px;
}
