body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.navbar{
    background-color:whitesmoke;
    border-bottom-color: whitesmoke;
}
.navbar li{
    color: darkgray;
}
#left-contends #hiddenDiv{
    list-style:none;
    margin:0;
    padding:0;
}

#left-contends>li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}
Div.hiddenDiv{
    visibility: hidden;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    height: 0;
    width: 0;
}