<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="DomainDriven LA-project."/>
    <meta name="author" content="Donghoon Lee, Jaeyeoul Ahn"/>
    <title>DomainDriven Community App</title>

    <!-- Bootstrap core ` -->
    <link th:href="@{/static/node_modules/admin-lte/bootstrap/css/bootstrap.min.css}"
          href="/static/node_modules/admin-lte/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/node_modules/admin-lte/dist/css/AdminLTE.min.css}"
          href="/static/node_modules/admin-lte/dist/css/AdminLTE.min.css"/>
    <link th:href="@{/static/node_modules/admin-lte/dist/css/skins/skin-black-light.min.css}"
          href="../static/node_modules/admin-lte/dist/css/skins/skin-black-light.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/daterangepicker/daterangepicker-bs3.css}"
          href="../static/node_modules/admin-lte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/datepicker/datepicker3.css}"
          href="../static/node_modules/admin-lte/plugins/datepicker/datepicker3.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.css}"
          href="../static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/select2/select2.min.css}"
          href="../static/node_modules/admin-lte/plugins/select2/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/node_modules/font-awesome/css/font-awesome.min.css}"
          href="/static/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/static/css/index.css}"
          href="/static/css/index.css"/>
</head>

<body class="skin-black-light sidebar-mini">
<header th:replace="fragments/commons/header :: header"></header> <!-- main header -->
<aside th:replace="fragments/commons/left_sidebar :: left_sidebar">&nbsp;</aside>  <!-- main sidebar -->

<div class="content-wrapper" th:switch="${page}">
    <div class="container" th:case="currentSeminar" th:include="fragments/pages/currentSeminar :: currentSeminar"></div>
    <div class="container" th:case="addSeminar" th:include="fragments/pages/addSeminar :: addSeminar"></div>
    <div class="container" th:case="allSeminar" th:include="fragments/pages/allSeminar :: allSeminar"></div>
    <div class="container" th:case="castingInstructor"
         th:include="fragments/pages/detail/castingInstructor :: castingInstructor"></div>
</div>

<footer th:replace="fragments/commons/footer :: footer">&copy;</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<script th:src="@{/static/node_modules/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js}"
        src="/static/node_modules/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/bootstrap/js/bootstrap.min.js}"
        src="/static/node_modules/admin-lte/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{/static/node_modules/moment/min/moment.min.js}"
        src="/static/node_modules/moment/min/moment.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js}"
        src="/static/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/datepicker/bootstrap-datepicker.js}"
        src="/static/node_modules/admin-lte/plugins/datepicker/bootstrap-datepicker.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js}"
        src="../static/node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.min.js}"
        src="../static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/select2/select2.full.min.js}"
        src="../static/node_modules/admin-lte/plugins/select2/select2.full.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/dist/js/app.min.js}"
        src="/static/node_modules/admin-lte/dist/js/app.min.js"></script>
<script th:src="@{/static/js/index.js}"
        src="/static/js/index.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>